<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./QuizResult.css" />
    <script type="module" src="QuizResult.js" defer></script>
    <title>Quiz Result</title>
  </head>
  <body>
    <div class="matrix-bg"></div>
    <div class="quiz-container">
      <div class="result-container">
        <h1>Quiz Results</h1>
        <p class="score">Your Score: <span id="user-score"></span></p>
      </div>

      <div class="answers-container">
        <h2 style="color: #ff99cc">Review Your Answers</h2>

        <!-- RESULT -->
        <div id="result" class="questions-scroll"></div>
        <div class="button-group">
          <button id="retry-btn" class="retry-button">Retry</button>
          <button id="home-btn" class="home-button">Home</button>
          <button id="history-btn" class="history-button">History</button>
        </div>
      </div>
    </div>
  </body>
</html>
